.FaqPageTop{
    font-family: 'Inter';
}

.FAQheading{
    font-weight: 600;
    color: #150546;
}
.contactFaq{
    /* width: inherit !important; */
    width: 100% !important;
    padding: 25px 10px;
    background-color: white;
    margin-bottom: 100px;
}

.questionTop{
    padding-top: 50px;
    padding-left: 120px;
    padding-right: 120px;
}

.faqQuestions{
    border-bottom: rgba(64, 57, 57, 0.1) 1px solid;
    color: #150546;
    font-weight: medium;
    font-size: 20px;
}

.contactFaqTitle{
    color: #150546;
    font-weight: 600 !important;
}

.contactSubtext{
    color: rgba(21, 5, 70, 0.6);
}

.getInTouch{
    background-color: #6552FF;
    color: white;
    border: 1px solid #6552FF;
    padding: 10px 18px;
    border-radius: 8px;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}