.contactcontainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 20px;
    margin-top:40px;
    margin-bottom: 40px;
    height: 350px;
}

.contactcontainer address {
    font-size: 16px;
    font-style: normal;
    margin-bottom: 20px;
}

.contactcontainer a {
    color: #333;
    text-decoration: none;
}

.contactcontainer a:hover {
    color: #0077cc;
}