.LearningPathMiddlePart{
    margin-top: 100px;
}

.LearningPathMiddlePartHeader{
    font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 36px;

color: #150546;
}

.LearningPathMiddleSubtext1{
    font-weight: 400;
font-size: 18px;
line-height: 22px;
/* identical to box height */


color: rgba(21, 5, 70, 0.6);
}

.LearningPathMiddleSubtext2{
    font-weight: 400;
font-size: 18px;
line-height: 22px;

color: rgba(21, 5, 70, 0.8);
}