/* .dropdown .dropdown-toggle {
    border: 1px black dotted;
} */

.finalFormTop{
    padding-top: 100px;
}

.formh1{
    color: #150546;
font-weight: 600;
font-size: 30px;
line-height: 36px;
}

.secondary-heading{
    color: rgba(21, 5, 70, 0.6);
    font-weight: 400;
font-size: 16px;
line-height: 19px;
}


input::placeholder{
    color: #667085 !important;
    font-weight: 400 !important;
font-size: 16px !important;
font-family: 'Inter', sans-serif !important;
}

.row .form-floating textarea{
    height: 100px;
}

.form-control-bold{
    font-weight: 500;
}

.registrationDropdownButtons{
    border: none;
    background: transparent;
    border-radius: 0.375rem;
    color: #667085;
    font-weight: 400;
font-size: 16px;
font-family: 'Inter', sans-serif;
}

/* .registrationDropdownButtons option{
    color: #667085;
    font-weight: 400;
font-size: 16px;
} */

.floatingTextarea{
    margin-left: 10px;
    color: #667085;
    font-weight: 400;
font-size: 16px;
font-family: 'Inter', sans-serif;
}

.btn-register{
    background-color: #7F56D9 !important;
    color: white !important;
    font-family: 'Inter', sans-serif !important;
    border: none;
    border-radius: 8px;
}

.bulkRegistration{
    color: #667085;
    font-family: 'Inter', sans-serif !important;
}

.existingAccount{
    text-decoration: none;
    color: #667085;
    font-family: 'Inter', sans-serif !important;
    display: inline-block;
    padding-top: 10px;
}

/* .dropdown .dropdown_buttons {
    text-align: left !important;
    max-width: 1000px !important;
    margin: 0px !important;
} */