.home-lpath{
    margin: 20px 0px;
}

.lpath-bg-img{
    width: 100%;
    height: 300px;
}

.home-lpath{
    position: relative;
}

.overlay {
    position: absolute;
    bottom: 50px;
    left: 150px;
    text-align: left;
    /* width: 100%;
    height: 100%; */
    /* background-color: rgba(0, 0, 0, 0.5); */
  }
  
.lPathHeader{
    text-align: left;
    color: white;
}

.lPathPar{
    text-align: left;
    color: white;
    margin-bottom: 50px;
    opacity: 0.8 ;
}

/* .fa-sharp .fa-solid .fa-greater-than{
    margin-left: 10px !important;
    padding-left: 10px;
} */

.text-overlay{
    display: inline;
    font-weight: 600;
    padding-right: 10px;
}
.overlay-button{
    padding: 20px;
    text-align: left;
    background: #FFFFFF;
    border: none;
border-radius: 8px;
color: #160647;
font-style: normal;
font-weight: 500;
font-size: 16px;
/* line-height: 19px; */
/* line-height: 19px; */
}