.BulkRegistrationTop{
    padding-top: 100px;
}

.bulkHeader{
    font-weight: 600;
font-size: 30px;
line-height: 36px;

color: #150546;
}

.bulkSubtext{
    font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;

color: rgba(21, 5, 70, 0.6);
}

.centerItems{
    padding-top: 50px;
    padding-bottom: 150px;
    display: flex;
    justify-content: center;
}

.iconAdjust{
    padding-top: 5px;
    padding-left: 6px;
    color: #7F56D9;
    background-color: #F4EBFF;
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

.fileDownload{
    padding: 15px;
    max-width: 500px;
    border: 1px solid #E4E7EC;
border-radius: 8px;
}

.fileDownloadBulk{
    padding-left: 10px;
    width: 500px;
}

.fileName{
    font-weight: 600;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */


/* Gray/700 */

color: #344054;
}

.fileSize{
    font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */


/* Gray/500 */

color: #667085;
}

.downloadIconAdjust{
    color: #7F56D9;
    padding-bottom: 25px;
}

.subtextUploadBulk{
    font-weight: bold;
font-size: 14px;
line-height: 20px;

color: #344054;
}

.registrationSheet{
    padding-top: 100px;
}

.registrationSheetButton{
    background: #7F56D9;
border: 1px solid #7F56D9;
color: white;
/* Shadow/xs */

box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
border-radius: 8px;

padding: 5px 75px;
}

/* .BulkHeading{
    margin-top: 50px;
} */