/* CourseAnnouncements.css */

.announcement-container {
  margin-top: 20px;
}

.announcement {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.announcement h3 {
  color: #333;
  font-size: 18px;
}

.announcement p {
  color: #666;
  font-size: 14px;
}

