/* Styling for the comment container */
.comment-container {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
}

/* Styling for the comment content */
.comment-content {
  font-weight: bold;
  margin-bottom: 5px;
}

/* Styling for the replies container */
.replies-container {
  margin-left: 30px;
}

/* Styling for each reply */
.reply-content {
  margin-bottom: 5px;
}

/* Styling for the reply form */
.reply-form {
  margin-top: 10px;
}

/* Styling for the reply input and button */
.reply-form input,
.reply-form button {
  padding: 5px;
  margin-right: 5px;
}

/* Styling for the reply button */
.reply-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Styling for the post button */
.post-button {
  background-color: #28a745;
  color: #fff;
  border: none;
  cursor: pointer;
}
