/* style="background-color: #45526e" */
/* .FooterTopMain{
    position: absolute;
    bottom: 0;
    width: 100%;
} */

footer{
    background-color: #45526e;
}

.text-white{
    text-decoration: none;
}

.FooterNavbarCommonLinks{
    cursor: pointer;
}