.CourseInfoPageTop{
    margin-top: 150px;
}

.CourseInfoHeader{
height: 27px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 22px;
color: #150546;
}

.CourseInfoMaincontent{
    /* background: #F3F3F3; */
    /* min-height: 500px; */
    margin-bottom: 50px;
}

.CourseInfoAndVideo{

}

.courseJustVideo{
    background-color: #F3F3F3;
}

.CourseInfoVideo{
    /* width: 100% !important; */
    /* width: 60%; */
    /* background-color: #F3F3F3; */
    min-width: 600px;
    height: auto;
    
}

.courseLessonVideo{
    max-width: 600px;
}

.CourseInfoLessons{
    background-color: #F3F3F3;
    min-height: 600px;
}

.LessonsHeader{
    font-weight: 500;
font-size: 22px;
line-height: 27px;
/* identical to box height */


color: #150546;
}

.LessonInfo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    background: rgba(217, 217, 217, 0.2);
    padding: 10px;
    font-family: 'Inter';
font-style: normal;
    color: #150546;
    font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: start;
}

.about ,  .learning ,  .discussion{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;

color: #150546;
cursor: pointer;
}


.selected {
    /* background-color: yellow; */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    
    color: #150546;
    border-bottom: 2px solid #000000;
    cursor: pointer;
  }

  .FooterNavbarCommonLinks{
    cursor: pointer;
}

.courseLessonVideo{}

/* CourseInfoPage.css (or any other appropriate CSS file) */

.lesson-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.lesson-table th,
.lesson-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.lesson-table th {
  background-color: #f2f2f2;
}

.lesson-row:hover {
  background-color: #f5f5f5;
}

.lesson-title {
  cursor: pointer;
  color: blue;
}

.download-icon {
  cursor: pointer;
  color: green;
}
