.MessagePageTop{
    font-family: 'Inter';
    height: 100vh;
}

.messageHeadingTop{
    border: 1px solid #E8E2E2;
border-radius: 8px;
padding: 50px;
}

.messageHeading{
    font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 36px;

color: #150546;
margin-bottom: 5px;
}

.subtextMessage{
    font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;

color: rgba(21, 5, 70, 0.6);
}

.middleText{
    margin-top: 100px;
    margin-bottom: 50px;
    font-weight: 400;
font-size: 18px;
line-height: 22px;
/* identical to box height */

text-align: center;

color: #150546;
}

.linkTag{
    font-weight: 500;
font-size: 16px;
line-height: 19px;
text-decoration-line: underline;

color: rgba(21, 5, 70, 0.6);
padding: 15px 0px;
cursor: pointer;
}
