.UserProfileDetailsTop label{
    font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */


/* Gray/700 */

color: #344054;
padding-top: 20px;
padding-bottom: 5px;
}